body {
  font-family: monospace;
  background: rgb(223, 200, 128);
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.box {
  display: flex;
  background-color: aqua;
  color: #040405;
  min-width: 220px;
  min-height: 120px;
  flex-direction: column;
  align-items: center;

}

.password {
  font-size: 18px;
  color: rgb(10, 12, 10);
  margin-bottom: 10px;
  font-weight: bold;
  font-family: fantasy;
}

.btn {
  padding: 10px 20px;
  border: 2px solid #040405;
  background-color: rgb(64, 105, 165);
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  margin: 10px;
}

.big {
  margin-top: 50px;
  padding: 10px 45px;
  font-size: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.middle {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
